body {
  height: 100vh;
  margin: 0; 
  background-color: rgb(28, 28, 30);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.texte-main {
  color: white;
}

.parent-header {
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  display: flex;
  gap: 60px;
  color: rgb(255, 255, 255);
}

.img-header {
  position: absolute;
  right: 0;
  top: -17px;
  width: 170px;
}

.connection {
  position: absolute;
  top: 20px;
  right: 0;
}

.img-search {
  width: 20px;
}

.search-bar {
  margin-left: auto;
  margin-right: 50px;
}

input {
  background: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
}

.img-main {
  margin-right: auto;
  margin-left: auto;
  width: 1500px;
  z-index: 0;
}

.parent-main {
  position: relative;
}

.texte-main {
  font-size: 190px;
  font-weight: 900; 
  position: absolute;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 151px rgb(255, 255, 255);
  top: -50px;
  left: 80px;
  z-index: -1;
}

#GTR {
  color: #fffbd3;
  text-shadow: 0 0 7px #ffe600, 0 0 10px #ffe600, 0 0 151px #ffe600;
}

.spec {
  background-color: rgb(28, 28, 30);
  display: flex;
  gap: 70px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  justify-content: center;
}

.modèles {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 40px;
  text-decoration: underline;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(255, 252, 224), 0 0 40px rgb(255, 252, 224), 0 0 50px rgb(255, 252, 224), 0 0 60px rgb(255, 252, 224), 0 0 70px rgb(255, 252, 224);
}

.text-modeles {
  display: flex;
  justify-content: center;
}

.card-section {
  display: flex;
  justify-content: center;
}

.cartes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-top: 50px;
}

.carte {
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Ajoute une couleur de fond transparente pour mieux lire le texte */
}

.modele {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}

.description {
  flex-grow: 1;
}

.bouton-carte {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bouton-carte:hover {
  background-color: #333;
}

footer {
  background-color: #000000;
  padding: 40px 0;
  color: white;
}

footer a {
  color: white;
  font-size: 20px;
}

footer ul {
  list-style: none;
}

footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer .row a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

footer .row a:hover {
  text-decoration: underline;
}

footer .row ul {
  padding: 0;
  display: flex;
}

footer .row ul li {
  margin: 0 15px;
}

footer .row ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

footer .row ul li a:hover {
  text-decoration: underline;
}
